<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jeff.store.mapper.AllianceMapper">

<!-- 	<resultMap type="Alliance" id="allianceMap"> -->
<!-- 		<result column="openingHour" property="openingHours" /> -->
<!-- 		<result column="businessNumber" property="businessNumber" /> -->
<!-- 		<result column="detail" property="detail" /> -->
<!-- 		<association column="comId" property="company" javaType="Company" -->
<!-- 			select="jeff.store.mapper.CompanyMapper.selectCompany" /> -->
<!-- 	</resultMap> -->

	<insert id="createAlliance" parameterType="Alliance">
		INSERT INTO Alliance_tb(comId, openingHour, businessNumber, detail)
		VALUES (#{company.comId}, #{openingHours}, #{businessNumber}, #{detail})
	</insert>

	<delete id="deleteAlliance" parameterType="string">
		DELETE FROM Alliance_tb
		WHERE comId = #{company.comId}
	</delete>

<!-- 	<select id="selectAlliance" resultMap="allianceMap" resultType="Alliance" parameterType="String"> -->
<!-- 		SELECT comId, openingHour, businessNumber, detail -->
<!-- 		FROM Alliance_tb -->
<!-- 		WHERE comId = #{company.comId} -->
<!-- 	</select> -->

<!-- 	<select id="selectAllAlliance" resultType="list"> -->
<!-- 		SELECT comId -->
<!-- 		FROM Alliance_tb -->
<!-- 	</select> -->

	<update id="modifyAlliance" parameterType="Alliance">
		UPDATE Alliance_tb
		SET openingHour = #{openingHours}, businessNumber = #{businessNumber}, detail = #{detail}
		WHERE comId = #{company.comId}
	</update>



</mapper>