<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="jeff.store.mapper.CompanyMapper">
  	<resultMap type="Company" id="companyMap">
  	<id property="comId" column="comId"/>
  	
  	<result property="ownerName" column="ownerName"/>
  	<result property="comPassword" column="comPassword"/>
  	<result property="email" column="email"/>
  	<result property="comName" column="comName"/>
  	<result property="location" column="location"/>
  	<result property="phoneNumber" column="phoneNumber"/>
  	
  	</resultMap>
  	
  	<insert id="createCompany" parameterType="Company">
  	<selectKey keyProperty="comId" resultType="string" order="BEFORE">
  	select company_tb_seq.nextval FROM DUAL
  	</selectKey>
  	INSERT INTO company_tb(comId,ownerName,comPassword,email,comName,location,phoneNumber)
  	VALUES(#{comId},#{ownerName},#{comPassword},#{email},#{comName},#{location},#{phoneNumber})
   	</insert>
   	
   	<delete id="deleteCompany" parameterType="String">
   	DELETE
   	FROM company_tb
   	WHERE comId = #{comId}
  	</delete>
  	
  	<update id="modifyCompany" parameterType="Company">
  	UPDATE company_tb
  	SET ownerName = #{ownerName},comPassword=#{comPassword}, email = #{email} , comName = #{comName},location = #{location},phoneNumber = #{phoneNumber}
  	WHERE comId = #{comId}
   	</update>
  	
   	
   	<select id="selectAllCompany" resultMap="companyMap">
   	SELECT comId,ownerName,comPassword,email,comName,location,phoneNumber
  	FROM company_tb
  	ORDER BY comId DESC
   	</select>
   	
   	<select id="selectCompany"  resultMap="companyMap">
   	SELECT comId,ownerName,comPassword,email,comName,location,phoneNumber
  	FROM company_tb
  	WHERE comId = #{comId}
   	</select>
   	
   	<select id="selectCompanyByName" resultMap="companyMap">
   	SELECT comId,ownerName,comPassword,email,comName,location,phoneNumber
  	FROM company_tb
  	WHERE comName = #{comName}
   	</select>
   	
   	
   	
   
  
  </mapper>