<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="jeff.store.mapper.CompanyMapper">

     <resultMap type="Company" id="companyMap">
     <id property="comId" column="comId"/>
     <result property="ownerName" column="ownerName" />
     <result property="comPassword" column="comPassword"/>
     <result property="comEmail" column="email"/>
     <result property="comName" column="comName"/>
     <result property="location" column="location"/>
     <result property="comPhoneNumber" column="phoneNumber"/>
     <result property="category" column="category" />
     <collection property="couponList" column="comId" javaType="List" notNullColumn=""
         select="jeff.store.mapper.CouponMapper.selectCouponByCompany" />
     </resultMap>

  	<insert id="createCompany" parameterType="Company">
  	INSERT INTO company_tb(comId,ownerName,comPassword,email,comName,location,phoneNumber, category) 
  	VALUES(#{comId},#{ownerName},#{comPassword},#{comEmail,jdbcType=VARCHAR},#{comName},#{location},#{comPhoneNumber},#{category})
   	</insert>
   	
   	<delete id="deleteCompany" parameterType="String">
   	DELETE
   	FROM company_tb
   	WHERE comId = #{comId}
  	</delete>
  	
  	<update id="modifyCompany" parameterType="Company">
  	UPDATE company_tb
  	SET ownerName = #{ownerName},comPassword=#{comPassword}, email = #{comEmail} , comName = #{comName},location = #{location},phoneNumber = #{comPhoneNumber}, category = #{category}
  	WHERE comId = #{comId}
   	</update>
  	
   	
   	<select id="selectAllCompany" resultMap="companyMap">
   	SELECT comId, ownerName, comPassword, email, comName, location, phoneNumber, category 
   	FROM company_tb 
   	ORDER BY comId ASC
   	</select>
   	
   	<select id="selectCompany"  resultMap="companyMap">
   	SELECT comId,ownerName,comPassword,email,comName,location,phoneNumber, category 
   	FROM company_tb 
   	WHERE comId = #{comId}
   	</select>
   	
   	<select id="selectCompanyByName" resultMap="companyMap" parameterType = "String">
   	SELECT comId,ownerName,comPassword,email,comName,location,phoneNumber, category 
   	FROM company_tb 
   	WHERE comName LIKE '%' || #{comName} || '%'
   	</select>
   	
   	<select id="selectCompanyByCategory" resultMap="companyMap" parameterType="String">
   	SELECT comId,ownerName,comPassword,email,comName,location,phoneNumber, category 
   	FROM company_tb 
   	WHERE category LIKE '%' || #{category} || '%'
   	</select>
   	
 	<select id="selectCompanyByLocationAndCompany" resultMap="companyMap" parameterType="Hashmap">
   	SELECT comId,ownerName,comPassword,email,comName,location,phoneNumber, category 
   	FROM company_tb 
   	where location LIKE '%' || #{location} || '%' AND comName LIKE '%' || #{comName} || '%' 
   	</select>
   	
 	<select id="selectCompanyByLocation" resultMap="companyMap" parameterType="String" resultType="Company">
   	SELECT comId,ownerName,comPassword,email,comName,location,phoneNumber, category 
   	FROM company_tb 
   	WHERE location LIKE '%' || #{location} || '%'
   	</select>
   	

  </mapper>