<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
<settings>
	<setting  name="jdbcTypeForNull" value="NULL"/>
</settings>

<typeAliases> <!-- 타입에 대한 별칭 -->
	<typeAlias type="jeff.domain.Alliance" alias="Alliance"/>
 	<typeAlias type="jeff.domain.Answer" alias="Answer"/>
 	<typeAlias type="jeff.domain.Company" alias="Company"/>
 	<typeAlias type="jeff.domain.CompanySales" alias="CompanySales"/>
 	<typeAlias type="jeff.domain.Coupon" alias="Coupon"/>
 	<typeAlias type="jeff.domain.Question" alias="Question"/>
 	<typeAlias type="jeff.domain.ReportReview" alias="ReportReview"/>
 	<typeAlias type="jeff.domain.Review" alias="Review"/>
 	<typeAlias type="jeff.domain.Sales" alias="Sales"/>
 	<typeAlias type="jeff.domain.User" alias="User"/>
</typeAliases>



	
</configuration>
  